@import "tailwindcss";

@font-face {
  font-family: 'Martian Grotesk';
  src: url('https://martiansfont.pages.dev/MartianGrotesk-VFVF.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

@theme {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  --background: #15191D;
  --foreground: #FFFFFF;
  --card: #1E2428;
  --card-foreground: #DEE3E7;
  --popover: #1E2428;
  --popover-foreground: #DEE3E7;
  --primary: #0093FD;
  --primary-foreground: #FFFFFF;
  --secondary: #242B32;
  --secondary-foreground: #BBC4CD;
  --muted: #242B32;
  --muted-foreground: #7B8996;
  --accent: #2797FF;
  --accent-foreground: #FFFFFF;
  --destructive: #CB3131;
  --destructive-foreground: #FFFFFF;
  --border: #242B32;
  --input: #1E2428;
  --ring: #0093FD;
  --radius: 8px;
  --success: #3DB468;
  --success-foreground: #FFFFFF;
  --warning: #FDC503;
  --warning-foreground: #15191D;
}

.dark {
  --background: #15191D;
  --foreground: #FFFFFF;
  --card: #1E2428;
  --card-foreground: #DEE3E7;
  --popover: #1E2428;
  --popover-foreground: #DEE3E7;
  --primary: #0093FD;
  --primary-foreground: #FFFFFF;
  --secondary: #242B32;
  --secondary-foreground: #BBC4CD;
  --muted: #242B32;
  --muted-foreground: #7B8996;
  --accent: #2797FF;
  --accent-foreground: #FFFFFF;
  --destructive: #CB3131;
  --destructive-foreground: #FFFFFF;
  --border: #242B32;
  --input: #1E2428;
  --ring: #0093FD;
  --success: #3DB468;
  --success-foreground: #FFFFFF;
  --warning: #FDC503;
  --warning-foreground: #15191D;
}

* {
  border-color: var(--border);
}

body {
  font-family: 'Martian Grotesk', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}
